* {
  box-sizing: border-box;
}
body {
  background: #fff;
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
}
@media (min-width: 575.98px) {
  ul {
    list-style-type: disc;
    padding-inline-start: 20px;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea,
select,
input,
button {
  outline: none;
  font-family: "Comfortaa";
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.repos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}

@media (min-width: 300px) {
}

@media (min-width: 575.98px) {
  .repos {
    padding: 0 3rem;
  }
}

@media (min-width: 1000px) {
  .repos {
    padding: 0 15rem;
  }
}

@media (min-width: 1920px) {
}

.repo-results {
  padding: 2.5rem 0;
}

.accordion {
  padding: 1rem;
  background: #245871;
  color: white;
}
@media (min-width: 575.98px) {
  .accordion {
    padding: 2rem;
    border: 5px solid #ffffff;
    border-radius: 5px;
    box-shadow: -4px 5px 20px -7px rgba(107, 107, 107, 0.7);
  }
}
.accordion-section {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.3rem 0;
  border-radius: 5px;
}

@media (min-width: 575.98px) {
  .accordion-section {
    padding: 0.3rem 1rem;
  }
}

.accordion-section:hover {
  background: #d4d4d4;
  color: black;
}

.accordion-section-content {
  padding: 1rem 3rem;
}

.search {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

@media (min-width: 300px) {
}

@media (min-width: 575.98px) {
  .search {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
  }
}
@media (min-width: 1000px) {
  .search {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1920px) {
}

.search > button {
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  color: #fff;
  padding: 1.2rem 0;
  margin: 10px 0;
  background: #245871;
  opacity: 0.8;
  display: block;
}

@media (min-width: 575.98px) {
  .search > button {
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

.search > button:hover {
}

.input-group {
  height: 100%;
  margin-right: 5px;
  flex: 2;
}

.repoName {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.repoName > p {
  display: inline-block;
  padding: 0.4rem 0.4rem;
}

.repoInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.repoType {
  padding-left: 0.8rem;
}
.repoStars {
  padding-right: 0.4rem;
}
.repoDescription {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.input-group > input[type="text"] {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0.375rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-radius: 0.25rem;
  border: 1px solid #ececec;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group > input[type="text"]:focus {
  border-color: rgba(82, 143, 255, 0.19);
  box-shadow: 0 4px 3px 2px rgba(107, 107, 107, 0.19),
    0 6px 20px 0 rgba(107, 107, 107, 0.19);
}
.fa-star.blue {
  color: #8cdaff;
}
.loader {
  color: #245871;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
